<div class="wrapper" ng-init="detailVideo.init()">
    <div class="timeline">
        <div id="resolutionValue" class="timeline__resolution"></div>
        <input id="resolutionBar" class="timeline__slider" type="range" min="1" max="10" value="10">
        <div id="timelineChart" class="timeline__chart stackedBarContainer">
            <div id="stackedBarFake" style="position: absolute; width: 100%; height: 100%;"></div>
            <canvas id="stackedBarCanvas"></canvas>
        </div>
    </div>
    <div id="treeMap" class="tree"></div>
    <div id="embed_container" class="embed">
        <div class="embed__video">
            <div id="twitchVideo"></div>
        </div>
        <ul id="chat" class="embed__chat"></ul>
    </div>

</div>
